.giftSalesSection {
  background: #f0fdf3;
  padding: 170px 0 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  font-family: 'Noto Sans TC', sans-serif;
}

.actionText {
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  margin: 0 0 32px;
}

.getStarted {
  text-align: center;
  width: 200px;
  background: #00d489;
  color: #fff;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding: 16px 45px;
  cursor: pointer;
  
  &:hover {
    text-decoration: none;
  }
}
